.encabezado{
    background-color: black;
    color: aliceblue;
    text-align: center;
}
/*
h1{
    background-color: black;
    color: aliceblue;

}*/
#Capibara{
   width:  600px;
   align-content: center;
   align-items: center;
   text-align: center;
}